body {
    min-width: 400px;
    max-width: 100%;
    margin: 0;
    background: #f8f8f8;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666; 
}