.k-button {
    border-radius: 3px;
    padding: 7px 40px;
    border: 0;
    background: darkorange;
    color: white;
    font-weight: bold;

    &--icon-only {
        padding-left: 0;
        padding-right: 0;
        width: 30px;
        height: 30px;
    }
}