.k-project-details__wrapper {
    display: none;
    padding-left: 30px;
    padding-top: 40px;
    position: relative;
    height: 100%;
    box-sizing: border-box;

    .k-projects.k-editmode & {
        display: block;
    }
}

.k-project-details {
    padding: 0 20px;
}

.k-project-details__menu {
    width: 30px;
    float: left;
    margin-left: -30px;
    clear: both;
    position: absolute;
    top: 41px;
}

.k-project-details__tab-button {
    width: 30px;
    height: 30px;
    border: 0;
    margin-bottom: 1px;
    cursor: pointer;
}



.k-project-details__tab-button {

    &.is-active {
        background: orange;
    }
}

.k-project-list {
    padding: 0;
    list-style-type: none;
    margin: 0;

    .k-projects.k-editmode & {
        display: none;
    }
}

.k-project-list__controls {
    .k-projects.k-editmode & {
        display: none;
    }
}

.k-project {
    display: flex;
    background: white;
    margin-bottom: 2px;
    justify-content: space-between;

    &__controls {
        display: flex;
        padding: 0 10px;
        align-items: center;

        .k-button + .k-button {
            margin-left: 10px; 
        }
    }

    &--matched,
    &--active {
        .k-project__name:after {
            content: "\f05d";
            color: #cccccc;
            float: right;
            margin-right: -17px;
            display: block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 15px;
        }
    }

    &--active {
        .k-project__name:after {
            content: "\f058";
            color: green;
        }
    }
}

.k-project > .k-project__name {
    padding: 10px 20px;
    font-weight: bold;
}

.k-project-details__header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.k-project-details__headline {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    padding: 0 20px;
    background: #404040;
    color: white;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-project-details__stop-editmode-button {
    width: 30px;
    height: 40px;
    border: 0;
    margin-bottom: 1px;
    cursor: pointer;
}

.k-project-details__content {
    clear: both;
}

.k-project-details-form {
    padding: 20px;
}